# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
wandb/

# Environments
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Repomix (User specific rules)
**repomix**
!repomix.config
!repomix-config.json
!maestroOS.xml

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
mistakes.mid
clean.mid
raw_midi_grieg_waltz.mid
cleaned_midi_grieg_waltz.mid
*.pth
